@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #202020;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-attrib {
    display: none !important;
}

.leaflet-container {
    background: #202020 !important;
}

.leaflet-control-attribution {
    display: none !important;
}
